<h1 id='title'>Salesforcedot COME ON!</h1>
<div id='header'>
  <div id='header-content'>
    <h3>It's like the idea exchange except with cursing</h3>
    <%= link_to 'Vent', '#', :id => 'vent' %>
  </div>
</div>
<ul id='grievances'>
  <% @grievances.each do |grievance| %>
    <%= render 'grievance', :grievance => grievance %>
  <% end %>
<ul>

<div id='new' style="display : none;">
  <%= render 'form' %>
</div>
<br>

