<div id='header'>
  <h1 id='title'>Salesforcedot COME ON!</h1>
  <h2 id='subtitle'>It's like the idea exchange except with cursing</h2>
  <%= link_to 'Vent', '#', :id => 'vent' %>
</div>
<ul id='grievances'>
  <% @grievances.each do |grievance| %>
    <%= render 'grievance', :grievance => grievance %>
  <% end %>
<ul>

<div id='new' style="display : none;">
  <%= render 'form' %>
</div>
<br>

