<div id='header'>
  <h1 id='title'>Grievances from Anonymous Salesforce Developers</h1>
  <%= link_to 'Vent', '#', :id => 'vent' %>
</div>
<div class='grievances'>
  <% @grievances.each do |grievance| %>
    <%= render 'grievance', :grievance => grievance %>
  <% end %>
</div>

<div id='new' style="display : none;">
  <%= render 'form' %>
</div>
<br>

