// Place all the styles related to the Grievances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.votes{
  line-height: 7;
}

.up-link, .down-link{
  color: white;
  font-weight: bold;
  &:hover{
    color: black;
  }
}

a:hover{
  background: none;
}

#header {
  color: white;
  max-width: 700px;
  margin: 0 auto;
  h3 {
    line-height: 1.8;
    display: inline;
  }
  #vent {
	float: right;
	background-color:#ededed;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
  }
  #vent:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
    background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color:#dfdfdf;
  }
  #vent:active {
    position:relative;
    top:1px;
  }
}

#subtitle{
  position: absolute;
}

#title{
  color: white;
  font-size: 4em;
  text-align: center;
  font-weight: normal;
}

#grievances {
  margin: 0 auto;
  max-width: 800px;
  list-style-type: none;
}

#grievances li {
  background: #FF8708;
}

#grievances li:nth-child(2n){
  background: #0FC705;
}

#grievances li:nth-child(3n) {
  background: #0E9FCF;
}

#grievances li:nth-child(5n) {
  background: #9595FF;
}

.grievance{
  margin: 10px;
  height: 100px;
  color: white;
  font-size: 1.5em;
}

.votes {
  font-size: 16px;
}

.content{
  margin: 10px 20px;
  position: absolute;
}
