// Place all the styles related to the Grievances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.votes{
  line-height: 7;
}

.up-link{
  color: blue;
  &:hover{
    color: skyblue;
  }
}

.down-link{
  color: red;
  &:hover{
    color: lightpink;
  }
}

a:hover{
  background: none;
}

#header {
  position: relative;
  color: white;
  height: 100px;
  max-width: 700px;
  margin: 0 auto;
}

#title{
  position: absolute;
  line-height: 3.5;
  font-size: 30px;
}

#header a {
  float: right;
  line-height: 10;
}
  
#grievances {
  margin: 0 auto;
  max-width: 800px;
  list-style-type: none;
}

.grievance{
  margin: 10px;
  border-radius: 10px;
  height: 100px;
  background: #FFFFFF;
  box-shadow: 3px 3px 1px; 
}

.content{
  margin: 10px 20px;
  position: absolute;
}
